.book-search
{
    background: lightblue;
    font-family: 'BioRhyme', serif;
    opacity: 0.8;
 
}

.book-search-results
{
    background: lightblue;
    font-family: 'BioRhyme', serif;
    opacity: 0.8;
    
}

.btn-success{
    color: black;
}